<h3>You are in Editing User Page</h3>
<% if current_user.id == @user.id || current_user.user_type == 1 %>

  <%= render 'form', user: @user %>
  <%= link_to 'Back', users_path %>
<% else %>
  <%= link_to "You must be logged in to edit users.", login_path %>
<% end %>